<!DOCTYPE html>
<html>
<head>
	<title>KUKapp</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
	<script src="{{ url_for('static', filename='script.js') }}"></script>
	<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
	<script src="https://use.fontawesome.com/2fef7be393.js"></script>
	<style type="text/css">
		html {
			background-image: url({{url_for('static', filename='burger.jpg')}});
			background-position: left top;
			background-repeat: no-repeat;
			background-size: 100% auto;
			background-color: #aeaeac;
		}
	</style>
</head>
<body>
	<div class="leaderboard">
		<h1 style="text-align: center">Leaderboard</h1>
		<div class="leaderboard-contiainer">
			{% for person in leaderboard %}
			<div class="lb-entry">
				<img src="{{url_for('static', filename=person.name + '.png')}}">
				<span class="name">{{ person.name }}</span>
				<span class="score">{{ person.score }}</span>
			</div>
			{% endfor %}
		</div>
	</div>
	<div class="next-meal">
		<h1 style="padding-left: 40pt">Next Meal</h1>
		<h2>Cook</h2>
			<div class="cook-entry">
				<div class="cook-card">
				<span>date: {{ date }}</span>
				{% if cook.confirmed == "no" %}
				<img src="{{url_for('static', filename='question.png')}}">
				<p>If nobody volunteers,<br><br><img id="cook-small-thumb" src="{{url_for('static', filename=cook.name + '.png')}}"> will cook.</p>
				<div class="rect-button" onclick="location.href='/volunteer';"><span>VOLUNTEER</span></div>
				{% else %}
				<img src="{{url_for('static', filename= cook.name + '.png')}}">
				<span>{{ cook.name }}</span>
				<div class="rect-button" style="background-color: #8faf38; cursor: default;"><span>CONFIRMED</span></div>
				{% endif %}
			</div></div>
		<h2>Eaters</h2>
			{% for eater in eaters %}
			<div class="eater-entry">
				<div class="eater-card">
				<img src="{{url_for('static', filename=eater + '.png')}}">
				<span>{{ eater }}</span>
			</div></div>
			{% endfor %}
			
				{% if not current_user.name in eaters %}
				<div class="eater-entry" style="height: 60pt;">
					<div class="add-button" onclick="location.href='/addme';"><span><i class="fa fa-plus" aria-hidden="true"></i></span></div>
					<span>Add me</span>
				</div>
				{% else %}
				<div class="eater-entry" style="height: 60pt;">
					<div class="add-button" onclick="location.href='/removeme';"><span><i class="fa fa-minus" aria-hidden="true"></i></span></div>
					<span>Remove me</span>
				</div>
				{% endif %}
			
	</div>
	<div class="user-info">
		<div class="user-card">
			<img src="{{url_for('static', filename=current_user.name + '.png')}}">
			<span>{{current_user.name}}</span>
			<div class="logout-button" onclick="location.href='/logout';"><span>LOGOUT</span></div>
		</div>
	</div>
</body>
</html>